{% template main %}

{% liquid 
# Get a random item from the data array
assign random_index = "now" | date: "%s" | modulo: data.size
assign item = data[random_index]
%}

<div id="image-container" class="layout layout--stretch layout--center gap--none m--0 p--0">
  {% if item and item.image_url %}
  <img class="image image--contain image-dither rounded w--auto h--auto w--max-full h--max-full" src="{{item.image_url}}" />
  {% endif %}
</div>

<div class="title_bar">
<svg class="image w--8 h--8" fill="#000000" viewBox="-4.5 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m14.642 4.794.23-.43v-4.364h-4.367l-.436.44-2.058 3.925-.646.435h-7.35v5.993h4.04l.36.436-4.18 7.981-.24.43v4.36h4.37l.436-.44 2.07-3.925.644-.436h7.35v-5.993h-4.05l-.36-.438 4.186-7.977z"/></svg>
  <div class="title" data-clamp="1"> 
    {% if item and item.title and item.image_url %}
    {{item.title}}
    {% else %}
    No artwork available
    {% endif %}
  </div>
  {% unless compact %}
  {% if item.author.username %} 
  <span class="instance portrait:hidden lg:portrait:block">
    <i>
    by {{item.author.username}}
    </i>
  </span>
  {% endif %}
  {% endunless %}
</div>

{% endtemplate %}